<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.realarcade.DOJ">
    <application android:debuggable="false" android:icon="@drawable/i" android:label="@string/app_name">
        <receiver android:exported="true" android:name="com.admob.android.ads.analytics.InstallReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14c69c663aa254"/>
        <activity android:clearTaskOnLaunch="true" android:configChanges="keyboardHidden|orientation" android:finishOnTaskLaunch="true" android:label="@string/app_name" android:launchMode="singleTask" android:name=".MrGame" android:noHistory="false" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>
